{% extends 'base.html.twig' %}

{% block title %}CRF-Manager Home{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
    <div class="container">
        <h1>Bienvenue</h1>
    </div>
{% endblock %}
