{% extends 'base.html.twig' %}

{% block title %}CRF - {% trans %}Welcome{% endtrans %}{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <h1>{% trans %}Welcome{% endtrans %}</h1>
    </div>
{% endblock %}
