{% extends 'base.html.twig' %}

{% block title %}CRFM - Planning{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin-event') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin-event') }}
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container">
        <h1>Evenements</h1>
        <div id="calendar"></div>
    </div>

{% endblock %}
