@import "~bootstrap/scss/bootstrap";

.login {
  margin-top: 30px;
}

@include media-breakpoint-up(lg) {
  .login {
    width: 500px;
  }
}

.admin_marker {
  color: red;
}

#calendar {
  margin-top: 10px;
}

.filter-col {
  margin-left: 25px;
  width: 160px;
}

.timeline {
  margin: 10px;
}