{% extends 'base.html.twig' %}

{% block title %}CRFM - Planning{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('planning') }}
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    <div class="container">
        <div id="calendar"></div>
    </div>

{% endblock %}
