{% extends 'base.html.twig' %}

{% block title %}CRFM - {% trans %}Edit skill{% endtrans %}{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}

    <div class="container">
        {% if not new %}
            <h1>{% trans with {'%id%': id} %}<strong>Modify</strong> skill n°<strong>%id%</strong>{% endtrans %}</h1>
        {% else %}
            <h1>{% trans %}<strong>Add</strong> a new skill{% endtrans %}</h1>
        {% endif %}
        {{ form(form) }}
        {% if not new %}
            <a class="btn btn-outline-danger btn-delete"
               href="{{ path('admin_skill_delete', {'id': id}) }}">{% trans %}Remove{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
