{% extends 'base.html.twig' %}

{% block title %}CRFM - {% trans %}Edit skill{% endtrans %}{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}

    <div class="container">
        {% if id is defined %}
            <h1><strong>{% trans %}Modify{% endtrans %}</strong> {% trans %}the skill n°{% endtrans %}
                <strong>{{ id }}</strong></h1>
        {% else %}
            <h1><strong>{% trans %}Add{% endtrans %}</strong> {% trans %}a new skill{% endtrans %}</h1>
        {% endif %}
        {{ form(form) }}
        {% if delete %}
            <a class="btn btn-outline-danger btn-delete"
               href="{{ path('admin_skill_delete', {'id': id}) }}">{% trans %}Remove{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
